
/LoteriaWebApi/appsettings.json
/LoteriaWebApi/appsettings.Development.json
/LoteriaWebApi/bin
/LoteriaWebApi/obj
/LoteriaWebApi/Properties
.vs
/AccesoDatos/obj
/AccesoDatos/bin
/Entidades/obj
/Entidades/bin
/LogicaNegocio/obj
/LogicaNegocio/bin
/.vs
/.vs/LoteriaBE
/.vs/LoteriaBE/FileContentIndex
